name: Tests
on: [push, pull_request]

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, '3.10', '3.11', '3.12']
        os: [ubuntu-20.04, macos-11, macos-12, windows-2019]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.8.3

      - name: Install Dependencies
        run: poetry install --extras hashes

      - name: Run Tests
        run: poetry run pytest -q tests

      - name: Build Wheel
        run: poetry build -f wheel

      - name: Collect Wheel
        uses: actions/upload-artifact@v3
        with:
          path: dist/*.whl
